-i https://pypi.org/simple/
appdirs==1.4.4
backports.zoneinfo==0.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
dateparser==1.0.0
decorator==4.4.2
dogpile.cache==1.1.1
humanize==3.2.0
idna==2.10
importlib-metadata==3.3.0 ; python_version < '3.8'
iso8601==0.1.13
jmespath==0.10.0
jsonpatch==1.28
jsonpointer==2.0
keystoneauth1==4.3.0
maya==0.6.1
munch==2.5.1.dev12
netifaces==0.10.9
openstacksdk==0.52.0
os-service-types==1.7.0
pbr==5.5.1
pendulum==2.1.2
prometheus-client==0.6.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.4
pytzdata==2020.1
pyyaml==5.3.1
regex==2020.11.13
requests==2.25.1
requestsexceptions==1.4.0
six==1.15.0
snaptime==0.2.4
stevedore==3.3.0
toml==0.10.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
tzlocal==3.0b1
urllib3==1.26.2
zipp==3.4.0
