-i https://pypi.org/simple/
appdirs==1.4.4
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==3.0
dateparser==0.7.6
decorator==4.4.2
dogpile.cache==1.0.1
humanize==2.5.0
idna==2.10
importlib-metadata==1.7.0 ; python_version < '3.8'
iso8601==0.1.12
jmespath==0.10.0
jsonpatch==1.26
jsonpointer==2.0
keystoneauth1==4.2.1
maya==0.6.1
munch==2.5.1.dev12
netifaces==0.10.9
openstacksdk==0.27.0
os-service-types==1.7.0
pbr==5.4.5
pendulum==2.1.2
prometheus-client==0.6.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2020.1
pyyaml==5.3.1
regex==2020.7.14
requests==2.24.0
requestsexceptions==1.4.0
six==1.15.0
snaptime==0.2.4
stevedore==3.2.0
toml==0.10.1
tzlocal==2.1
urllib3==1.25.10
zipp==3.1.0
